@import '../../../../resources/styles/_antd-theme.less';
@import '../../../../resources/styles/_animations';

.collection-card {
  animation: slide-in 0.5s 0s both;
  .animation-delay(10);

  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: @shade-2;
  position: relative;

  &__link {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  &.clickable {
    cursor: pointer;
  }

  .top-right-icon {
    position: absolute;
    top: 20px;
    right: 20px;

    font-size: 20px;
    color: @btn-primary-bg;
    cursor: pointer;
    z-index: 1;
  }

  .tags-container {
    margin: 5px 0 10px;
    display: flex;
    min-height: 38px;

    .tag {
      background-color: @shade-1;
      max-width: 198px;
    }

    span:last-child > .tag {
      margin-right: 0;
    }

    a.tag:hover {
      text-decoration: none;
      background-color: @shade-4;
    }
  }

  &.tiny {
    min-height: 309px;
    padding: 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-content: space-between;

    @media (max-width: @screen-lg) {
      min-height: 357px;
    }

    @media (max-width: @screen-md) {
      min-height: 295px;
    }

    @media (max-width: @screen-sm) {
      min-height: 229px;
    }

    @media (max-width: @screen-xs) {
      min-height: 200px;
    }

    .highlight {
      .last-updated {
        display: none;
      }
    }
  }

  &.skeleton {
    background-color: white;
    border: 1px solid #eeeeee;
    .ant-skeleton-title {
      width: 400px;
    }

    .ant-skeleton-avatar {
      margin: 29px 0px;
    }

    .collection-video-preview {
      display: flex;
    }

    &.tiny {
      .ant-skeleton-title {
        width: 200px;
        margin-bottom: 20px;
      }

      .ant-skeleton-avatar {
        margin: 0px;
      }
    }
  }

  .collection-video-previews {
    margin-top: auto;
  }
}
