@import '../../../../resources/styles/_antd-theme.less';

.collection-card {
  animation: slide-in 0.5s 0s both;
  background-color: @shade-2;

  .collection-card__title {
    display: flex;
    justify-content: space-between;
  }

  .collection-card__subtitle {
    margin: 0 0 7px 0;
    font-weight: 700;
    color: @shade-6;
  }

  .tags-container {
    display: inline-block;

    min-height: 38px;
    margin: 5px 0 10px 0;

    .tag {
      background-color: @shade-1;
      max-width: 198px;
    }
  }

  &__description-preview {
    word-break: break-word;
    white-space: pre-line;
    font-size: 16px;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 72px;
  }

  .collection-video-previews {
    margin-top: auto;
  }

  .collection-title-section {
    position: relative;
  }

  .collection-card__detail-row {
    display: flex;
  }

  .collection-card__column-preview {
    display: inline-block;
    width: 304px;
  }

  .collection-card__column-detail {
    display: inline-flex;
    flex-direction: column;
    margin-left: 24px;
    width: calc(100% - (304px + 24px));
  }

  .button-row {
    border-top: 2px solid @shade-1;

    .ant-btn-group {
      padding-top: 8px;

      button {
        border-right: 2px solid @shade-1!important;
      }
      button:last-child {
        border-right: none !important;
      }
    }
  }

  .collection-card__buttons {
    margin-top: auto;

    .ant-btn-group {
      padding-bottom: 0;
    }
  }

  &.collection-card--grid {
    .collection-card__detail-row {
      flex-direction: column;
    }

    .collection-card__column-preview {
      width: 100%;
    }

    .collection-card__column-detail {
      margin-top: 12px;
      margin-left: 0;
      width: 100%;
    }
  }

  &.skeleton.ant-skeleton-active .ant-skeleton-content {
    display: block;

    .collection-title {
      height: 24px;
      margin-bottom: 0.5em;
      margin-top: 0;
    }

    .ant-skeleton-paragraph li {
      height: 24px;
    }

    .ant-skeleton-avatar,
    .ant-skeleton-paragraph > li,
    .ant-skeleton-title {
      background: linear-gradient(90deg, #cfd6e6 25%, #b5bccc 37%, #cfd6e6 63%);
      background-size: 400% 100%;
    }
  }
}
