@import '../../../../resources/styles/_antd-theme.less';

.collection-card {
  animation: slide-in 0.5s 0s both;
  background-color: @shade-2;

  .top-right-icon {
    position: absolute;
    top: -3px;
    right: 3px;

    font-size: 20px;
    color: @btn-primary-bg;
    z-index: 1;
  }

  .tags-container {
    display: inline-block;

    .tag {
      background-color: @shade-1;
      max-width: 198px;
    }

    a.tag:hover {
      text-decoration: none;
      background-color: @shade-4;
    }
  }

  &.tiny {
    min-height: 309px;
    padding: 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-content: space-between;

    .tags-container {
      span:last-child > .tag {
        margin-right: 0;
      }
    }

    .collection-title {
      max-height: 24px;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }

    @media (max-width: @screen-lg) {
      min-height: 357px;
    }

    @media (max-width: @screen-md) {
      min-height: 295px;
    }

    @media (max-width: @screen-sm) {
      min-height: 229px;
    }

    @media (max-width: @screen-xs) {
      min-height: 200px;
    }

    .highlight {
      .last-updated {
        display: none;
      }
    }

    .tags-container {
      display: flex;
    }
  }

  &__description-preview {
    white-space: pre-line;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 72px;
    margin-bottom: 20px;

    .tiny & {
      min-height: 72px;
      margin-bottom: 0px;
      margin-top: 8px;
    }
  }

  &.skeleton {
    background-color: white;
    border: 1px solid @shade-2;
    .ant-skeleton-title {
      width: 400px;
    }

    .ant-skeleton-avatar {
      margin: 29px 0px;
    }

    .collection-video-preview {
      display: flex;
    }

    &.tiny {
      .ant-skeleton-title {
        width: 200px;
        margin-bottom: 20px;
      }

      .ant-skeleton-avatar {
        margin: 0px;
      }
    }
  }

  .collection-video-previews {
    margin-top: auto;
  }
}

.tags-container {
  min-height: 38px;
  margin: 5px 0px 10px;
}
