@import '../../../../resources/styles/_antd-theme.less';
@import '../../../../resources/styles/_animations';

@min-preview-width: 140px;
@preview-gutter: 20px;

.collection-video-previews {
  display: grid;
  grid-column-gap: @preview-gutter;
  grid-template-columns: repeat(
    auto-fill,
    minmax(@min-preview-width, calc(25% - 3 * @preview-gutter / 4))
  );
  @media (max-width: @screen-md) {
    grid-column-gap: (@preview-gutter / 4);
    grid-row-gap: (@preview-gutter / 4);
    grid-template-columns: repeat(
      auto-fill,
      minmax(@min-preview-width, calc(50% - (@preview-gutter / 4) / 2))
    );
    grid-template-rows: repeat(2, auto);
  }
}

.tiny {
  .collection-video-previews {
    grid-column-gap: (@preview-gutter / 4);
    grid-row-gap: (@preview-gutter / 4);
    grid-template-columns: repeat(
      auto-fill,
      minmax(20px, calc(50% - (@preview-gutter / 4) / 2))
    );
    grid-template-rows: repeat(2, auto);
  }
}
