@import '~resources/styles/_colours';
@import '~resources/styles/_antd-theme.less';

.create-account-form__ {
  &title {
    margin-bottom: 40px;
    animation: slide-in 0.5s 0s both;
    font-size: 24px;
    line-height: 28px;
    @media (max-width: @screen-md) {
      margin: 30px 0;
    }
  }

  &form {
    animation: slide-in 0.5s 0.2s both;
  }

  &button {
    animation: slide-in 0.5s 0.3s both;
  }

  &submit {
    margin-bottom: 32px;
    margin-top: 12px;
    width: 250px;

    @media (max-width: @screen-md) {
      width: 100%;
    }
  }

  &social-button {
    width: 100%;
  }

  &existing {
    animation: slide-in 0.5s 0.6s both;
    width: 100%;
    padding-top: 10px;
    @media (max-width: @screen-md) {
      text-align: center;
    }
  }

  &recaptcha {
    animation: slide-in 0.5s 0.6s both;
    margin-top: 48px;
  }

  &inline-item.ant-row.ant-form-item {
    margin-bottom: 0;
  }

  @media (min-width: @screen-md) {
    &inline-item--right {
      margin-left: 8px;
    }

    &inline-item--left {
      margin-right: 8px;
    }
  }

  &divider-container {
    position: relative;
  }

  &divider-label {
    position: absolute;
    top: -12px;
    left: calc(50% - 18.5px);
    padding: 0 12px;
    background-color: @shade-1;
    font-weight: bold;
  }

  &divider {
    border-top: 2px solid @shade-3;
    margin: 40px 0px;
  }

  &social-button {
    background-color: @shade-1;
    font-weight: bold;
    color: #0e69ff;
    line-height: 36px;
    border: 2px solid #0e69ff;
    border-radius: 8px;
  }

  &social-buttons-list {
    width: 100%;
    padding-left: 0px;
    margin-top: -10px;
  }

  &social-buttons-list-item {
    display: inline-block;
    list-style-type: none;
    margin-top: 10px;
    width: 100%;
  }

  &social-button-icon {
    padding-right: 10px;
  }
}

button.create-account-form__social-button.ant-btn {
  &:active,
  &:focus,
  &:hover {
    background-color: @shade-1;
    border: 2px solid @mid-blue;
    color: @mid-blue;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
