@import '../../../../resources/styles/_antd-theme';
@import '../../../../resources/styles/_colours';

.password-form__ {
  &container {
    width: 100%;
    position: relative;

    @media (max-width: @screen-md) {
      width: 100%;
    }
  }
  &input{
    background-color: white!important;
  }

  &rules-container {
    margin-top: 8px;
    line-height: 24px;
    color: @copy;
  }

  &rules {
    margin-top: 4px;
    display: flex;
    flex-flow: row wrap;
  }

  &rule {
    width: 50%;

    svg {
      margin-right: 4px;
    }
    &__valid {
      color: @shade-5;
    }

    &__error {
    }
  }
}
