.filter-button {
  height: 22px;
  width: 54.6px;
  color: #4189ff;
  font-family: Heebo;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  border: none;
  border-radius: 0px !important;
  box-shadow: none !important;
  height: 24px;
  width: 66px;

  .anticon {
    position: relative;
    top: 2px;
  }
}
