@import '../../../resources/styles/_colours.less';

.filters-bar {
  padding-top: 2px;
  padding-bottom: 10px;
  margin-bottom: 10px;

  &__label {
    height: 24px;
    width: 94px;
    color: @shade-6;
    font-family: Heebo;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    text-align: right;
  }

  &__tags {
    padding-top: 2px;
  }

  border-bottom: 2px solid @shade-2;
}

.filter-form__checkbox-count {
  color: @shade-6;
  font-size: 14px;
}
