.news-box {
  & .news-box__title-container {
    margin-bottom: 10px;
  }

  & .news-box__title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 0px;
  }

  & .news-box__title--bold {
    font-weight: bold;
  }

  & .news-box__logo {
    padding-right: 5px;
  }
}

.news-box__side-panel {
  margin-top: 28px; //TODO quick fix for side panel not aligning up with the first search result card
}
