.search-sidebar {
  margin-top: 0px;
  padding-left: 20px;

  .news-box {
    animation: fade-in 1s 0s both;

    & .news-box__title-container {
      margin-bottom: 10px;
      max-width: 200px;
    }

    & .news-box__title {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 0px;
    }

    & .news-box__title--bold {
      font-weight: bold;
    }

    & .news-box__logo {
      padding-right: 5px;
    }

    .news-box__cta {
      justify-content: start;
    }
  }

  .news-box__side-panel {
    margin-top: 60px;
  }

  .search-sidebar__collections {
    margin-top: 60px;

    .big-title {
      margin-bottom: -4px;
    }

    .collection-card.tiny {
      min-height: 260px;
    }
  }
}
