@import '../../../resources/styles/_antd-theme.less';

.search-results-container {
  @media (max-width: @screen-sm) {
    margin-top: 0px;
  }
}
.search-results__list {
  margin-top: 32px;
}

.search-results__list {
  @media (max-width: @screen-sm) {
    margin-top: 0px;
  }
}

.search-panel-row {
  display: block;
}
