@import '../../../../../resources/styles/_antd-theme.less';

.bookmark-button {
  cursor: pointer;
  .bookmark-icon {
    margin: 3px;
  }
  &__icon {
    svg {
      height: 25px;
      width: 25px;
    }
  }
}

.collection-card .top-right-icon.bookmark-button {
  @media (max-width: @screen-md) {
    padding: 10px;
    top: -2px;
    right: 5px;
  }
}
