@import "../../../../resources/styles/_colours.less";

section.mobile-bottom-navbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 53px;
  z-index: 1000;
  background-color: white;
  border-top: 1px solid @shade-5;

  .navbar-buttons {
    width: 100%;

    .display-mobile-and-tablet {
      display: inline;
    }

    &__list-item {
      margin-top: 6px;
      width: 33%;
      margin-left: 0;

      .icon-label {
        margin-top: 6px;
        display: block;
      }
    }
  }
}
