@import '../../../../resources/styles/_colours.less';

.navbar-buttons {
  display: inline-flex;
  padding: 0;
}

.nav-buttons {
  margin: 0;
  padding: 0;
  height: 20px;
  align-items: center;
  font-size: 16px;
  color: @cta-blue;
  list-style: none;

  .icon-container {
    margin-right: 14px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 1;
    cursor: pointer;
  }

  .icon-label {
    display: block;
    text-decoration: none;
  }

  &__button {
    cursor: pointer;

    &:hover path {
      fill: @shade-5;
    }

    svg {
      padding-right: 14px;
    }
  }
}
