@import '../../../../resources/styles/_colours.less';
@import '../../../../resources/styles/_antd-theme.less';

.navbar-buttons {
  display: inline-flex;
  padding: 0;

  @media (min-width: @screen-lg) {
    margin-left: 40px;
  }

  &__list-item {
    list-style: none;
    margin-left: 20px;
    text-align: center;
  }

  &__button {
    margin: 0;
    padding: 0;
    height: 70px;
    align-items: center;
    color: @cta-blue;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: none;

      path {
        fill: @shade-5;
      }
    }

    .icon-container {
      width: 24px;
      height: 24px;
    }

    .icon-label {
      display: block;
      font-size: 14px;
      font-weight: 500;
      line-height: 12px;
      margin-top: -14px;
      white-space: nowrap;
    }
  }
}
