@import '~resources/styles/_colours.less';
@import '~resources/styles/_antd-theme.less';

.navbar-buttons {
  display: inline-flex;
  padding: 0;
  float: right;

  &__list-item {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 72px;
    list-style: none;
    margin-left: 20px;
    text-align: center;

    > div {
      margin: 0 auto;
    }
  }

  &__button,
  &__link {
    margin: 0;
    padding: 0;
    height: 70px;
    align-items: center;
    color: @cta-blue;
    transition: color 200ms ease-in !important;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }

    .icon-container {
      width: 24px;
      height: 24px;
    }

    .icon-label {
      display: block;
      font-size: 12px;
      font-weight: 500;
      line-height: 12px;
      margin-top: -14px;
      white-space: nowrap;

      .dropdown-arrow {
        margin-left: 4px;
        svg {
          path {
            fill: @cta-blue;
          }
        }
      }
    }
  }

  &__button.ant-dropdown-open,
  .active {
    color: @mid-blue;
  }

  path, circle {
    transition: fill 300ms ease-in-out;
  }

  &__button:not(:hover):not(.ant-dropdown-open) path,
  &__link:not(:hover):not(.active) path,
  &__button:not(:hover):not(.ant-dropdown-open) circle,
  &__link:not(:hover):not(.active) circle{
    transition: fill 300ms ease-in-out;
    fill: @shade-5;
  }

  &__button:hover:not(.ant-dropdown-open) path,
  &__button:hover:not(.ant-dropdown-open) circle{
    @media (max-width: @screen-lg-min) {
      transition: fill 300ms ease-in-out;
      fill: @shade-2;
    }
  }
}
