@import '~resources/styles/_antd-theme.less';

.create-account {
  padding-bottom: 40px;
  @media (min-width: @screen-md) {
    margin-top: 50px;
  }

  &__logo {
    animation: slide-left 0.5s 0.2s both;
    padding-right: 20px;
    max-width: 458px;
    max-height: 412px;

    display: block;
    margin-left: auto;
  }

  &__form {
    padding-left: 20px;
    @media (max-width: @screen-md) {
      padding-left: 0px;
    }
  }
}
