@import '~resources/styles/_antd-theme.less';

.onboarding {
  margin-top: 20px;
  @media (min-width: @screen-md) {
    margin-top: 80px;
  }

  &__logo {
    margin-right: 30px;
    margin-top: 20px;
    max-width: 480px;
    max-height: 500px;

    display: block;
    margin-left: auto;
  }

}
