@import '../../../../../resources/styles/_antd-theme.less';
@import '../../../../../resources/styles/_animations';
@import '../CollectionCardVideoPreviews.less';

.collection-video-preview {
  animation: fade-in 0.6s ease;

  .title {
    @media (max-width: @screen-md) {
      display: none !important;
    }
    margin-top: 8px;
    margin-bottom: 0px;

    font-size: 14px;
    font-weight: bold;
    line-height: 18px;

    &:visited {
      color: @dark-blue;
    }

    &.clamp-2-lines {
      max-height: 36px;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
  }

  .duration {
    @media (max-width: @screen-md) {
      display: none;
    }
    color: @shade-5;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
  }

  .boclips-player {
    width: 100%;
  }

  &.skeleton {
    * {
      .loading-blue();
    }

    .title {
      max-height: 50px;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;

      @media (max-width: @screen-md) {
        display: none;
      }
      margin-top: 8px;
      height: 20px;
      width: 150px;
    }

    .subtitle {
      @media (max-width: @screen-md) {
        display: none;
      }
      margin-top: 8px;
      height: 20px;
      width: 100px;
    }
  }
}

.tiny {
  .collection-video-preview {
    .title {
      display: none !important;
    }

    .duration {
      display: none;
    }

    &.skeleton {
      * {
        .loading-blue();
      }

      .title {
        display: none;
        margin-top: 8px;
        height: 20px;
        width: 150px;
      }

      .subtitle {
        display: none;
        margin-top: 8px;
        height: 20px;
        width: 100px;
      }
    }
  }
}

.colleciton-card-video-container {
  overflow: hidden;
  height: 0;
  padding-top: 55.5%;
  position: relative;

  &__inner {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .plyr {
      min-width: @min-preview-width;
    }
  }

  &--blue {
    background-color: @shade-3;
  }

  .video-counter {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: @shade-3;
    color: @shade-5;
    font-size: 52px;
    line-height: 50px;
    text-align: center;
    height: 100%;

    .label {
      color: @shade-1;
      font-size: 20px;
      font-weight: bold;
      line-height: 25px;
    }
  }
}

.tiny {
  .colleciton-card-video-container {
    .video-counter {
      .count,
      .label {
        line-height: 0.8;
      }
    }
  }
}

.collection-card-thumbnail-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
