@import '../../../resources/styles/_antd-theme.less';

.collection-view-empty {
  padding: 100px 0;
  text-align: center;

  *:not(svg *) {
    animation: slide-in 0.5s 0.4s both;
  }

  svg {
    animation: slide-in 0.5s 0s both;
    margin-bottom: 14px;
  }
}

.collection-view__ {
  &collection-details {
    padding-top: 50px;

    @media (max-width: @screen-md) {
      padding-top: 20px;
    }

    .collection-title {
      height: 100%;
      align-items: flex-end;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 0.2em;
      font-size: 24px;
      color: @mid-blue;

      &__edit {
        color: @shade-4;
        font-size: 24px;
        padding-left: 12px;
        cursor: pointer;
        transition: color 300ms ease-in-out;
      }

      &__input-container {
        display: flex;
        justify-content: flex-start;

        .ant-btn {
          margin-left: 8px;
          min-width: 80px;

          @media (max-width: @screen-md) {
            display: none;
          }

          &.empty {
            border: 0;
            font-weight: normal;
          }
        }
      }

      &__input {
        font-weight: bold;
      }
    }

    .tags-container {
      display: inline-block;
    }
  }
}
