@import '../../../resources/styles/_antd-theme.less';

.collection-view-empty {
  padding: 100px 0;
  text-align: center;

  *:not(svg *) {
    animation: slide-in 0.5s 0.4s both;
  }

  svg {
    animation: slide-in 0.5s 0s both;
    margin-bottom: 14px;
  }
}

.collection-view__ {
  &collection-details {
    padding-top: 25px;
    @media (max-width: @screen-md) {
      padding-top: 20px;
    }
    .button-row {
      .share-button {
        justify-content: center;
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

.collection-view-placeholders {
  .skeleton {
    margin-top: 25px;
  }
}
