@import '../../../resources/styles/_antd-theme.less';

.collection-list {
  margin-top: 50px;

  @media (max-width: @screen-md) {
    margin-top: 8px;
  }

  h1 {
    animation: fade-in 1s 0s both;
  }

  .boclips-grid--infinite > div {
    padding: 16px;
  }
}

.collections-view-empty {
  text-align: center;

  h1 {
    margin: 1.5rem 0;
  }
}
