@import '../../../resources/styles/_antd-theme.less';
@import '../../../resources/styles/_colours.less';

.subjects__ {

  &subheader-container {
    margin-bottom: 42px;
    background-color: @shade-5;
    padding: 4px 0px;
    animation: slide-in 0.5s 0s both;
  }

  &subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      color: @mid-blue;
      font-weight: normal;
      margin: 0;
      padding: 0;

      strong a {
        color: @dark-blue;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
      }

      .discipline-subject {
        font-size: 32px;
        line-height: 47px;
        animation: slide-right 0.5s 0s both;
      }
    }
  }

  &subheader-logo {
    svg {
      height: 130px;
      width: 130px;
      padding: 10px;
    }
  }
}

@media (max-width: @screen-sm-max) {
  .subjects__subheader {
    height: 100px;

    h1 {
      font-size: 22px;
      line-height: 26px;
    }
    strong {
      display: none;
    }
  }

  .subjects__subheader-container {
    margin-bottom: 22px;
  }
}

