@import '../../../resources/styles/_antd-theme.less';

.subjects-view-page {
  margin-top: 50px;

  @media (max-width: @screen-sm-max) {
    margin-top: 20px;
  }
  .discipline-card {
    height: 100%;
  }
}
