.manage-video-collection-button {
  &__popover {
    .ant-popover-inner-content {
      padding: 0;
    }
  }

  &__drawer {
    .ant-menu-vertical {
      border-right: 0;
    }
    .ant-drawer-body {
      padding: 0;
    }
  }

  &__menu-item {
    min-width: 400px;
    display: inline-block;

    .ant-menu-item-selected {
      background-color: inherit;
    }
  }

  &__collection-entry {
    display: inline-block;
    text-overflow: ellipsis;
  }

  &__title-input {
    width: 237px !important;
    margin-right: 10px !important;
  }

  &__create-collection-button {
  }
}
