@import '../../../../resources/styles/_antd-theme';

.zero-results {
  padding: 62px 55px 0px;

  @media (max-width: @screen-md) {
    padding: 40px 0px 0px;
  }

  img {
    padding-top: 12px;
    margin-bottom: 20px;
  }

  .alert-message-invalid {
    color: #d70000;
    font-size: 13px;
    line-height: 24px;
  }

  .description {
    margin: 0px;
    padding-bottom: 24px;
  }

  .form-title {
    margin: 0px 0px 0px 2px;
    span {
      color: #848fbb;
      font-size: 14px;
      line-height: 24px;
      padding-left: 8px;
    }
  }

  em {
    font-style: normal;
    color: #0051bc;
  }

  .ant-btn {
    width: 150px;
  }

  textarea {
    resize: none;
  }

  .form-submitted {
    width: 416px;
    margin-top: 110px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}