@import '../../../../resources/styles/_colours.less';
@import '../../../../resources/styles/_antd-theme';

.button-row {
  width: 100%;
  border-top: 2px solid @shade-2;

  .ant-btn-group {
    padding: 16px 0;
    line-height: 24px;
    display: inline-block;

    button {
      .ant-btn--borderless();
      border-right: 2px solid @shade-2 !important;
      line-height: 24px;
      height: auto;
      & > * {
        vertical-align: middle;
      }
    }

    button:last-child {
      border-right: none !important;
    }
  }

  &__group--right {
    float: right;
  }
}
