@import '~resources/styles/_colours';

.boclips__edit-button {
  border: none;
  box-shadow: none;
  span {
    padding-bottom: 4px;
  }
  svg,
  svg path {
    transition: fill 100ms ease;
    font-size: 18px;
  }
  &:hover {
    svg,
    svg path {
      fill: @mid-blue;
    }
  }
}
