@import "../../../../../resources/styles/_colours.less";

// We want to use the Google ReCaptcha v3 but without the popup badge
.grecaptcha-badge {
  display: none;
}

.recaptcha-notice {
  &, a {
    font-size: 14px;
    color: @blue-grey;
    line-height: 16px;
  }

  margin-bottom: 24px;
}
