@import '../../../../resources/styles/_colours';
@import '../../../../resources/styles/_antd-theme';

.lesson-plan {
  font-family: @font-family;
  background-color: @mid-blue;
  padding: 35px 25px 25px 25px;
  margin-top: 13px;
  border-radius: 10px;
  position: relative;

  &__clip {
    position: absolute;
    top: -13px;
  }

  &__header {
    color: @blue-shade-1;
  }

  &__description {
    font-size: 16px;
    line-height: 24px;

    & > * {
      color: @shade-1;
    }

    & > ol {
      list-style: none;
      counter-reset: lesson-plan-counter;
      padding: 0;

      & > li {
        counter-increment: lesson-plan-counter;

        &::before {
          content: counter(lesson-plan-counter) ". ";
          font-weight: bold;
        }
      }
    }
  }

  a&__link {
    width: 100%;
    color: @mid-blue;
    border: 0;

    &,
    &:visited {
      background-color: @shade-1;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: darken(@shade-1, 5%);
    }
  }
}
