@import '../../../../../resources/styles/_antd-theme.less';

.collection-header {

  &__title-row {
    .collection-title {
      height: 100%;
      margin-bottom: 0.2em;
      font-size: 24px;
      color: @mid-blue;

      &__edit {
        color: @shade-5;
        font-size: 24px;
        padding-left: 12px;
        cursor: pointer;
        transition: color 300ms ease-in-out;
      }

      &__input-container {
        display: flex;
        justify-content: flex-start;

        .ant-btn {
          margin-left: 8px;
          min-width: 80px;

          @media (max-width: @screen-md) {
            display: none;
          }

          &.empty {
            border: 0;
            font-weight: normal;
          }
        }
      }

      &__input {
        font-weight: bold;
      }
    }
  }
  &__skeleton {
    margin-top: 24px;
    width: 80%;
    padding-bottom: 20px;
  }

  &__title-row {
    flex-wrap: nowrap;

    .ant-col {
      align-self: center;
    }

    .button-row {
      div {
        border-right: 2px solid @shade-2 !important;
      }
      div:last-child {
        border-right: none !important;
      }

      border-top: none;
    }
  }

  &__subtitle-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__description-row {
    font-size: 16px;
    padding-bottom: 4px;
    margin-bottom: 32px;

    @media screen and (min-width: @screen-md) {
      section:nth-child(1) {
        margin-left: 40px;
      }
    }

    .collection-header__description {
      word-break: break-word;
      white-space: pre-line;
    }
  }
}
