@import '../../../../resources/styles/_antd-theme.less';

.collection-header__ {
  &skeleton {
    margin-top: 24px;
    width: 40%;
  }

  @media (min-width: @screen-md) {
    &edit-button {
      float: right;
    }
  }

  &bookmark-button {
    float: right;

    &.display-mobile {
      margin-top: -28px;
    }
  }
}
