@import '../../../../resources/styles/_antd-theme.less';

.collection-title__ {
  &container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    h1 {
      margin-bottom: 0.2em;
    }
  }

  &edit {
    color: #c3d3f5;
    font-size: 24px;
    padding-left: 12px;
    cursor: pointer;
    transition: color 300ms ease-in-out;
  }

  &input-container {
    display: flex;
    justify-content: flex-start;

    .ant-btn {
      margin-left: 8px;
      min-width: 80px;

      @media (max-width: @screen-md) {
        display: none;
      }

      &.empty {
        border: 0;
        font-weight: normal;
      }
    }
  }

  &input {
    font-weight: bold;
  }
}
