@import '../../../../resources/styles/_colours.less';

.button-menu {
  padding: 5px 0;

  li {
    margin: 0;
    padding: 0;

    a, section {
      margin: 0;
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      font-size: 16px;
      color: @cta-blue;
      width: 100%;
      flex: 1;
      border:0;

      .icon-container {
        margin-right: 14px;
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 1;
      }
    }
  }

  &--desktop {
    a, section {
      padding: 10px 20px;
    }
  }
}

.display-mobile-and-tablet {
  .navbar-buttons__button,
  .navbar-buttons__link {
    .icon-label {
      display: none;
    }
  }

  .account-menu-icon {
    height: 40px;
    width: 40px;
  }
}

.account-menu-mobile__menu-item {
  .icon-container {
    margin-right: 8px;
  }
}
