.account-menu-mobile {
  &__drawer {
    .ant-menu-vertical {
      border-right: 0;
    }
    .ant-drawer-body {
      padding: 0;
    }

    .ant-drawer-header {
      padding: 16px 15px 12px;
      border: 0px;
    }

    .ant-menu-item {
      margin: 0px;
      font-size: 16px;
      color: #4189ff;
    }

    .ant-menu-item-divider {
      box-sizing: border-box;
      height: 1px;
      border: 1px solid #e8efff;
    }

    .ant-menu-item:not(:last-child) {
      margin: 0px;
    }
  }

  &__menu-item {
    > a {
      color: #4189ff;
      text-decoration: none;
    }
  }

  &__image {
    padding-right: 14px;
  }
}
