.collection-card-title {
  margin-bottom: 0px;
  font-size: 18px;

  &--clamp-2-lines {
    max-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    width: 90%;
  }
}
