@import '../../../../resources/styles/_antd-theme.less';

.tabs {
  @active-tab-color: @shade-2;
  @inactive-tab-color: @dark-blue;

  & .ant-tabs-bar {
    margin: 0;
    font-weight: bold;
    border-bottom: 0px;
    @media (max-width: @screen-md) {
      color: @inactive-tab-color;
    }
    @media (min-width: @screen-md) {
      margin-top: 8px
    }
  }

  & .ant-tabs-ink-bar {
    @media (max-width: @screen-md) {
      background-color: @active-tab-color;
    }
    height: 4px;
  }

  & .ant-tabs-nav .ant-tabs-tab-active,
  & .ant-tabs-nav .ant-tabs-tab:hover {
    @media (max-width: @screen-md) {
      color: @active-tab-color;
    }
    font-weight: bold;
  }

  & .ant-tabs-tab {
    padding: 0px 16px 6px !important;
  }

  & .ant-tabs-nav {
    display: grid;
    grid-template-columns: 0% 100%;
    width: 100%;

    .ant-tabs-tab {
      width: 50%;
      margin-right: 0px;
      text-align: center;
    }

    .ant-tabs-ink-bar {
      width: 50% !important
    }
  }
}
