.video-list-exit {
  opacity: 1;
}

.video-list-exit.video-list-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}