@import '~resources/styles/_antd-theme.less';

.manage-video-collection-button {
  &__loading-collections {
    font-size: 40px;
    color: @primary-color !important;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }

  &__popover {
    max-width: 415px;

    .ant-popover-inner-content {
      padding: 0;
    }

    .ant-popover-title {
      border-bottom: 0 !important;
      padding-top: 10px !important;
    }
  }

  &__drawer {
    .ant-menu-vertical {
      border-right: 0;
    }
    .ant-drawer-body {
      padding: 0;
    }
  }

  &__menu-container {
    max-height: 160px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-right: 0px !important;
    min-width: 400px;

    .ant-menu-item-selected {
      background-color: inherit !important;
    }

    .ant-menu-item {
      margin-bottom: 0px !important;
    }

    &,
    .ant-checkbox-wrapper {
      width: 100%;
      color: @primary-color !important;
    }
  }

  &__menu-item {
    max-width: 380px;
    display: inline-block;
  }

  &__create-collection {
    font-weight: bold;
    cursor: pointer;
    color: @blue-shade-4;

    &-icon {
      margin-right: 5px;
      vertical-align: -4px;
      font-size: 18px;
    }
  }

  &__collection-entry {
    width: 340px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: bottom;
    color: @blue-shade-4;
  }

  &__title-input {
    width: calc(100% - 88px) !important;
    margin-right: 10px !important;
  }

  &__create-collection-button {
    min-width: 60px !important;
  }

  &__create-collection-container {
    color: @primary-color;
    line-height: 40px;
    height: 45px;
    padding: 3px 16px 0px;
    font-size: 14px;
  }
}
