@import '../../../../resources/styles/_colours.less';

.tag {
  background-color: @shade-2;
  border-radius: 8px;
  border: none;
  color: @copy;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 16px;
  font-weight: 500;
  margin: 0 8px 0 0;
  padding: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  text-decoration: none;

  &__type {
    color: @mid-blue;
    &::after {
      content: ' ';
    }
  }

  &__close {
    padding-left: 8px;
    cursor: pointer;

    .anticon svg {
      height: 10px;
      width: 10px;

      path {
        fill: #4189ff;
      }
    }
  }
}

a.tag:hover {
  text-decoration: none;
  background-color: @shade-4;
  color: @copy;
}

