.search-result {

  @video-width: 304px;
  @video-height: 228px;

  margin-top: 28px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  .ant-skeleton .ant-skeleton-avatar-lg {
    border-radius: 8px;
    width: @video-width;
    height: @video-height;
  }

  .ant-card-body {
    height: 100%;
  }

  .boclips-player {
    width: @video-width;
    height: @video-height;
  }
}