.boclips-footer {
  margin-top: 12px;
  width: 100%;
  position: absolute;
  bottom: 0;

  p {
    color: #848FBB;
    font-size: 11px;
    line-height: 15px;
  }
  p:first-of-type {
    border-top: 1px solid #E8EFFF;
    padding-top: 12px;
    margin-bottom: 2px;
  }
}