@header-height: 64px;
@mobile-header-height: 92px;


.ant-layout-header {
  background-color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.16);

  &.fixed {
    position: fixed;
    z-index: 1000;
    width: 100%;

    .logo {
      width: 110px;
      position: relative;
      @media (max-width: 768px) {
        display: none;
      }
    }

    .mini-logo {
      width: 60px;
      position: relative;
      @media (min-width: 768px) {
        display: none;
      }
    }

    .logout-container {
      width: 100%;
      height: @header-height;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @media (max-width: 768px) {
        display: none;
      }
      button {
        min-width: 84px;
      }
    }

    .logo-logout {
        @media (max-width: 768px) {
          height: 36px;
          display: flex;
          margin-top: -12px;
          justify-content: space-between;
        }

      .logout-container-mini {
        @media (min-width: 768px) {
          display: none;
        }
      }
    }

    & + .ant-layout-content {
      padding-top: @header-height;
      @media (max-width: 768px) {
        padding-top: @mobile-header-height;
      }
    }
  }

  .ant-input {
    background-color: #FAFAFF;
  }
}



