.video-details {

  @video-width: 488px;
  @video-height: 356px;

  margin-top: 46px;

  .ant-skeleton .ant-skeleton-avatar-lg {
    @media (min-width: 768px) {
      width: @video-width;
      height: @video-height;
    }
  }

  .boclips-player {
    @media (min-width: 768px) {
      width: @video-width;
      height: @video-height;
    }
  }

}
