.video-content {

  @video-width: 488px;
  @video-height: 356px;

  display: flex;
  justify-content: left;
  height: 100%;
  animation: fade-in 0.4s ease;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .boclips-player {
    @media (min-width: 768px) {
      width: @video-width;
      height: @video-height;
    }
    border-radius: 3px;

    video {
      width: 100%;
      height: 100%;
      background-color: black;
      border-radius: 4px;
      @media (max-width: 768px) {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }

    .boclips-player--preview-container {
      border-radius: 4px;
      @media (max-width: 768px) {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }
  }

  .video-content--video-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 16px;

    @media (max-width: 768px) {
      margin-left: 0px;
      padding: 12px;
    }

    .video-header {
      display: flex;
      justify-content: space-between;

      .title {
        color: #3D4564;
        font-size: 16px;
        font-weight: bold;
        line-height: 25px;
        max-height: 50px;
        margin-bottom: 0px;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
      }

      .duration {
        text-align: right;
      }

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    .subtitle {
      font-size: 14px;
      color: #848FBB;
      font-weight: bold;
      line-height: 24px;
      margin-bottom: 0px;
      min-width: 100px;
    }

    .description {
      margin-top: 16px;

      @media (min-width: 768px) {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 72px;
      }

    }

    .copy-link-button {
      align-self: flex-start;
      margin-top: auto;
    }
  }
}