@import '../../../resources/styles/_antd-theme';

.search-results-container {
  padding-bottom: 24px;
  padding-top: 42px;
  @media (max-width: @screen-md) {
    padding-top: 20px;
    margin-top: 28px;
  }

  &__results {
    padding-left: 45px;
  }
}

.results-pagination {
  margin: 50px 0 0;
  text-align: center;
}

.results-count {
  & .count:after {
    content: ' ';
  }
}

.search-results-placeholders {
  padding-top: 64px;
}

.filters-drawer {
  .ant-drawer-content-wrapper {
    @media (max-width: @screen-sm) {
      width: 100% !important;
    }
  }
}
