@import '../../../resources/styles/_antd-theme';

.search-results-container {
  display: flex;
  padding-bottom: 24px;
  padding-top: 42px;

  &__results {
    padding-left: 45px;
  }

  .search-results-header {
    display: flex;
    align-items: baseline;
    width: 100%;
  }

  @media (max-width: @screen-md) {
    padding-top: 0px;
    margin-top: 10px;

    &__results {
      padding-left: 0;
    }
  }
  .filter-button {
    padding-right: 2px;
    min-width: auto;

    border: none;
    box-shadow: none;
  }
}

.results-pagination {
  margin: 50px 0 0;
  text-align: center;
}

.search-results-placeholders {
  padding-top: 64px;
}

.filters-drawer {
  .ant-drawer-content-wrapper {
    @media (max-width: @screen-sm) {
      width: 100% !important;
    }
  }
}
