@import '../../../resources/styles/_antd-theme';

.search-results-container {
  display: flex;
  padding-bottom: 24px;
  padding-top: 42px;

  &__results {
    padding-left: 45px;
  }

  @media (max-width: @screen-md) {
    padding-top: 20px;
    margin-top: 28px;

    &__results {
      padding-left: 0;
    }
  }

}

.results-pagination {
  margin: 50px 0 0;
  text-align: center;
}

.search-results-placeholders {
  padding-top: 64px;
}

.filters-drawer {
  .ant-drawer-content-wrapper {
    @media (max-width: @screen-sm) {
      width: 100% !important;
    }
  }
}
