@import '../../../resources/styles/_antd-theme';
@import '../../../resources/styles/_colours';

.age-range-select {
  display: flex;
  width: 100%;

  &__box {
    margin-left: 10px;
    display: inline-block;
    width: 245px;
  }

  &__input {
    width: 205px !important;
  }

  &__label {
    text-align: center;
    margin-right: 9px;
    display: inline-block;
    width: 30px;
  }
}
