.create-account-form__{

  &title {
    margin-bottom: 40px;
    animation: slide-in 0.5s 0s both;
  }

  &form {
    animation: slide-in 0.5s 0.4s both;
  }

  &submit {
    animation: slide-in 0.5s 0.8s both;
    width: 100%;
  }
}