@import '../../../resources/styles/_colours';
@import '../../../resources/styles/_antd-theme.less';

.create-account-form__ {
  &title {
    margin-bottom: 40px;
    animation: slide-in 0.5s 0s both;
    font-size: 24px;
    line-height: 28px;
  }

  &form {
    animation: slide-in 0.5s 0.4s both;
  }

  &submit {
    animation: slide-in 0.5s 0.8s both;
    width: 100%;
    margin-bottom: 32px;
  }

  &existing {
    animation: slide-in 0.5s 1.2s both;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid @shade-2;
  }

  &inline-item.ant-row.ant-form-item {
    margin-bottom: 0;
  }

  @media (min-width: @screen-md) {
    &inline-item--right {
      margin-left: 8px;
    }

    &inline-item--left {
      margin-right: 8px;
    }
  }

  &checkbox,
  &checkbox-link {
    color: @blue-grey;
    font-size: 14px;
    line-height: 16px;
  }
}
