@import '../../../../resources/styles/_antd-theme';
@import '../../../../resources/styles/_colours';

.tag-list {
  &:empty {
    margin: 0px;
  }
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  @media (min-width: @screen-md-min) {
    .attachment-tag {
      margin-left: auto;
    }
  }
  @media (max-width: @screen-xs-max) {
    span:nth-child(2) {
      max-width:70%;
    }
  }
}
