@import '../../../resources/styles/_antd-theme.less';
@import '../../../resources/styles/_colours.less';

.discipline-card-list__ {

  &icon {
    margin-right: 8px;
  }

  &title {
    display: flex;
  }

  &description {
    font-size: 18px;
    margin-bottom: 4px;
  }

  &container {
    margin-top: 60px;
  }

}