@import '../../../resources/styles/_antd-theme.less';
@import '../../../resources/styles/_colours.less';

//@media (max-width: 767px) {
//
//  .discipline-card__icon {
//    position: relative;
//    font-size: initial;
//    top: 0;
//    right: 0;
//  }
//
//  .discipline-card__container .ant-card-head-title {
//    padding: 0;
//  }
//
//  .discipline-card__container .ant-card-head {
//    padding: 12px 20px;
//  }
//
//  .discipline-card__container .ant-card-head {
//    height: auto;
//  }
//
//  .discipline-card__link {
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
//  }
//  .discipline-card__title {
//    margin: 0;
//  }
//  .discipline-card__icon svg {
//    height: 60px;
//    width: 60px;
//  }
//  .disciplines-section__all-subjects {
//    float: none;
//    width: 100%;
//    display: block;
//    text-align: right;
//  }
//
//  .boclips-footer__links {
//    padding: 0;
//    display: block;
//  }
//}
//
//.discipline-card__view-all {
//  position: relative;
//  display: block;
//  text-align: right;
//  right:0;
//  bottom:0;
//  margin-top: 20px;
//}
//
//.top-navbar .searchbar {
//
//  line-height: 84px;
//}

.discipline-card__ {
  &title {
    font-size: 28px;
    line-height: 28px;
    font-weight: normal;
    color: @dark-blue;
    a {
      color: @dark-blue;
      text-decoration: none;
    }
  }

  &icon {
    svg {
      height: 75px;
      width: 75px;
    }
  }

  &link {
    text-decoration: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &container {
    margin-top: 20px;
    min-height: 310px;
    background-color: @shade-2;

    .ant-card-head {
      &-title {
        padding-top: 24px;
        padding-bottom: 0;
      }
      position: relative;
      border-bottom: 0;
      padding: 0 24px;
    }

    .ant-card-body {
      padding: 0px 24px 24px 24px;
      margin-top: -8px;
    }

    &.skeleton {
      padding: 20px;

      .discipline-subjects {
        .ant-skeleton-title {
          margin-top: 20px;
          width: 60%;
        }
      }
    }
  }

  &subject-item {
    color: @shade-5;
    position: relative;
    list-style: none;
    padding: 10px 0 8px 0;
    line-height: 1;
    font-size: 16px;

    &:before {
      content: ' ';
      position: relative;
      height: 20px;
      width: 15px;
      display: inline-block;
      margin-right: 10px;

      background-image: url('resources/bullet.svg?inline');
      background-position: center;
      background-repeat: no-repeat;

      vertical-align: middle;
    }

    &--lesson-plan:before {
      background-image: url('../../../resources/images/lesson-plan-icon.svg?inline');
    }
  }

  &subjects {
    margin: 0;
    padding: 0;
  }
  &subject-link {
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
  }

  &view-all {
    color: @dark-blue;
    font-weight: bold;
    position: absolute;
    right: 24px;
    bottom: 16px;

    svg {
      margin-left: 2px;

      path {
        fill: @dark-blue;
      }
    }
  }
}


@media (max-width: @screen-sm-max) {
  .discipline-card__container {
    background-color: @shade-4;

    border-radius: 8px;
  }
}


@media (max-width: @screen-sm-max) {
  .discipline-card__ {
    &title {
      font-size: 28px;
      line-height: 28px;
    }

    &container {
      min-height: 60px;

      .ant-card-body {
        padding: 0;
      }

      .ant-card-head {
        border-radius: 80px;
        height: 60px;
      }
    }

    &icon__image {
      height: 44px;
    }
  }
}
