@import '../../../resources/styles/_antd-theme.less';
@import '../../../resources/styles/_colours.less';

.discipline-card__ {
  &title {
    font-size: 28px;
    font-weight: normal;
    color: @dark-blue;
    margin: 4px;
    a {
      color: @dark-blue;
      text-decoration: none;
    }
  }

  &icon {
    font-size: 100px;
    position: absolute;
    top: 8px;
    right: 8px;
  }

  &container {
    margin-top: 24px;
    border-radius: 8px;
    box-shadow: @card-shadow;
    min-height: 310px;

    .ant-card-head {
      position: relative;
      border-bottom: 0px;
      border-radius: 8px 8px 0px 0px;
      background-color: @shade-4;
    }

    &.skeleton {
      padding: 20px;

      .discipline-subjects {
        .ant-skeleton-title {
          margin-top: 20px;
          width: 60%;
        }
      }
    }
  }

  &subjects {
    padding-top: 16px;
  }

  &subject-item {
    // forgive me father for I have sinned list-style-image: url("../../../resources/images/bullet.svg");
    color: @shade-4;
    margin-bottom: 16px;
  }

  &subject-link {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    line-height: 22px;
  }

  &view-all {
    color: @dark-blue;
    font-weight: bold;
    position: absolute;
    right: 24px;
    bottom: 16px;
  }
}

@media (max-width: @screen-sm) {
  .discipline-card__ {
    &title {
      font-size: 22px;
      line-height: 26px;
    }

    &container {
      min-height: 60px;

      .ant-card-body {
        padding: 0;
      }

      .ant-card-head {
        border-radius: 8px;
        height: 60px;
      }
    }

    &icon__image {
      height: 44px;
    }
  }
}
