@import '../../../resources/styles/_antd-theme.less';
@import '../../../resources/styles/_colours.less';

.discipline-card__ {
  &title {
    font-size: 28px;
    line-height: 28px;
    font-weight: normal;
    color: @dark-blue;
    a {
      color: @dark-blue;
      text-decoration: none;
    }
  }

  &icon {
    font-size: 100px;
    position: absolute;
    top: 8px;
    right: 8px;

    svg {
      height: 75px;
      width: 75px;
    }
  }

  &link {
    text-decoration: none;
  }

  &container {
    margin-top: 20px;
    min-height: 310px;
    background-color: @shade-2;

    .ant-card-head {
      &-title {
        padding-top: 24px;
        padding-bottom: 0;
      }
      position: relative;
      border-bottom: 0;
      padding: 0 24px;
    }

    .ant-card-body {
      padding: 12px 24px 24px 24px;
    }

    &.skeleton {
      padding: 20px;

      .discipline-subjects {
        .ant-skeleton-title {
          margin-top: 20px;
          width: 60%;
        }
      }
    }
  }

  &subject-item {
    color: @shade-4;
    position: relative;
    list-style: none;
    padding: 10px 0 8px 0;
    line-height: 1;
    font-size: 16px;

    &:before {
      content: ' ';
      position: relative;
      height: 20px;
      width: 15px;
      display: inline-block;
      margin-right: 10px;

      background-image: url('resources/bullet.svg?inline');
      background-position: center;
      background-repeat: no-repeat;

      vertical-align: middle;
    }

    &--lesson-plan:before {
      background-image: url('resources/lesson-plan-icon.svg?inline');
    }
  }

  &subjects {
    margin: 0;
    padding: 0;
  }
  &subject-link {
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
  }

  &view-all {
    color: @dark-blue;
    font-weight: bold;
    position: absolute;
    right: 24px;
    bottom: 16px;

    svg {
      margin-left: 2px;

      path {
        fill: @dark-blue;
      }
    }
  }
}

@media (max-width: @screen-sm-max) {
  .discipline-card__ {
    &title {
      font-size: 28px;
      line-height: 28px;
    }

    &container {
      min-height: 60px;

      .ant-card-body {
        padding: 0;
      }

      .ant-card-head {
        border-radius: 80px;
        height: 60px;
      }
    }

    &icon__image {
      height: 44px;
    }
  }
}
