@import '../../../resources/styles/_antd-theme.less';
@import '../../../resources/styles/_colours.less';

.discipline-card-list {
  &__icon {
    margin-right: 8px;
    svg {
      height: 75px;
      width: 75px;
    }
  }

  &__title {
    display: flex;
  }

  &__description {
    font-size: 18px;
    margin-bottom: 4px;
  }

  &__grid {
    margin-top: -20px;
  }
}
