@import '../../../resources/styles/_colours';
@import '../../../resources/styles/_antd-theme.less';

.searchbar {
  display: flex;
  .anticon-search {
    svg {
      margin-top: 4px;
    }
  }

  .ant-input-affix-wrapper {
    border-radius: 8px;
    border: 2px @shade-3 solid;
    border-right: none;

    @media (max-width: @screen-lg) {
      border-radius: 8px !important;
      border: 2px @shade-3 solid;
    }
    .ant-input-lg {
      padding-left: 2px;
    }
  }
}

.ant-input-search {
  .ant-input-group-addon {
    @media (max-width: @screen-lg) {
      display: none;
    }
  }
  &:focus {
    box-shadow: 0 0 4px 1px #0e69ff !important;
    color: #3d4564 !important;
  }
}
