@import '../../../resources/styles/_colours';
@import '../../../resources/styles/_antd-theme.less';

.search-bar {
  display: flex;

  .anticon-search {
    svg {
      margin-top: 4px;
    }
  }

  .ant-input-affix-wrapper {
    .ant-input-lg {
      padding-left: 2px;
    }
  }
}
