@import '../../../resources/styles/_colours';
@import '../../../resources/styles/_antd-theme.less';

.search-completions {
  li {
    font-weight: bold;
    font-size: 16px;

    .autocomplete--channel {
      color: @shade-6;
    }

    .completion-affix {
      color: @cta-blue;
    }
  }
}

.ant-input {
  background-color: @shade-1;
  border-color: @shade-3;
  border-right: 2px @shade-3 solid;
  border-radius: 8px !important;
}
