@import '../../../resources/styles/_colours';
@import '../../../resources/styles/_antd-theme.less';

.searchbar {
  display: flex;
  .anticon-search {
    svg {
      margin-top: 4px;
    }
  }

  .ant-input-affix-wrapper {
    border-radius: 8px;
    .ant-input-lg {
      padding-left: 2px;
    }
  }
}
