@import '../../../resources/styles/_colours';
@import '../../../resources/styles/_antd-theme.less';

.search-completions {
  li {
    font-weight: bold;
    font-size: 16px;

    .autocomplete--channel {
      color: @shade-6;
    }

    .completion-affix {
      color: @cta-blue;
    }
  }
}

.searchbar{
  width:100%;
}
