@import '../../../resources/styles/_colours';
@import '../../../resources/styles/_antd-theme.less';

@media (min-width: @screen-md) {
  .searchbar {
    margin-top: 10px;
  }
}

.search-completions {
  li {
    font-weight: bold;
    font-size: 16px;

    .completion-affix {
      color: @cta-blue;
    }
  }
}
