@import '~resources/styles/_colours';
@import '~resources/styles/_antd-theme.less';

.search-completions {
  li {
    font-weight: bold;
    font-size: 16px;

    .completion-affix {
      color: @cta-blue;
    }
  }
}
