@import '../../../../resources/styles/_antd-theme.less';

.rating-- {
  &container {
    margin-right: 20px;
    @media (max-width: @screen-sm-max) {
      display: block;
    }
  }

  &rate {
    font-size: 32px !important;
  }
  &rate-button {
    background: none;
    border: 0;
  }

  &rate-stars,
  &rate-stars * {
    cursor: pointer;
    border-radius: 4px;
    @media (max-width: @screen-sm-max) {
      display: none;
    }
  }

  &rate-stars:hover {
    box-shadow: 0 0 4px 1px @cta-blue;
    transition: all 800ms ease;
    .ant-rate-star {
      color: @shade-3 !important;
    }
  }

  &stars--non-editable,
  &stars--non-editable * {
    cursor: default;

    .ant-rate-star > div:hover,
    .ant-rate-star > div:focus {
      transform: none;
    }

    &.mobile {
      @media (min-width: @screen-md) {
        display: none;
      }
    }
  }
}
