@import '../../../../resources/styles/_antd-theme.less';

.tag-video--{

  &container {
    .ant-radio-group {
      width: 100%;
    }
  }

  &radio {
    cursor: pointer;
    & * {
      font-size: 16px;
      line-height: 2.5;
    }
  }
}
