@import '../../../../../resources/styles/_antd-theme';

.search-filters-menu {
  width: 250px;
  ul {
    background: transparent;
    .ant-menu-inline {
      background: transparent;
    }
  }

  h1 {
    color: @blue-shade-5;
  }
  .ant-menu {
    border-right: none;
  }

  .filter-form {
    &__submenu-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__section {
      .ant-menu-submenu-title {
        color: @blue-shade-6;
        font-size: 16px;
        font-weight: bold;
        border-bottom: 2px solid @shade-2;
        padding-right: 0px;
      }

      .ant-menu-submenu-arrow {
        &i,
        &::after,
        &::before {
          content: none !important;
        }
      }
    }

    &__checkbox-group label {
      display: block;
      font-size: 16px;
      line-height: 20px;
      color: @neutral-shade-1;
      margin: 7px 0;
    }
  }

  .filter-form__subjects-group {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 350px;
  }
}
