@copy: #434656;
@cta-blue: #0E69FF;
@mid-blue: #0051BC;
@dark-blue: #00217D;
@darkest-blue: #001550;
@primary-orange: #FB5C41;

@shade-1: #FAFAFF;
@shade-2: #E8EFFF;
@shade-3: #D3DCF5;
@shade-4: #B4C8F4;
@shade-5: #6471A9;
@shade-6: #3D4564;

@light-green: #ECFEF3;
@dark-green: #008455;
@light-orange: #FFF9F7;
@dark-orange: #D24000;
@light-red: #FAE8E8;
@dark-red: #D70000;

@blue-grey: #748DA3;

// New colours from the new palette
@v2-light-blue: #A0C6FF;
@v2-mid-blue: #3572C7;


