@copy: #434656;
@cta-blue: #4189FF;
@mid-blue: #0051BC;
@dark-blue: #00217D;
@darkest-blue: #001550;
@primary-orange: #FF654C;

@shade-1: #FAFAFF;
@shade-2: #E8EFFF;
@shade-3: #D3DCF5;
@shade-4: #C3D3F5;
@shade-5: #848FBB;
@shade-6: #3D4564;

@light-green: #E9FEF1;
@dark-green: #009962;
@light-orange: #FFE8DF;
@dark-orange: #F95B08;
@light-red: #F9E3E3;
@dark-red: #D70000;

@blue-grey: #748DA3;