.border-radius--top-left {
  border-top-left-radius: 10px;
}

.border-radius--top-right {
  border-top-right-radius: 10px;
}

.border-radius--bottom-left {
  border-bottom-left-radius: 10px;
}

.border-radius--bottom-right {
  border-bottom-right-radius: 10px;
}
