.border-radius--top-left {
  border-top-left-radius: 10px;
}

.border-radius--top-right {
  border-top-right-radius: 10px;
}

.border-radius--bottom-left {
  border-bottom-left-radius: 10px;
}

.border-radius--bottom-right {
  border-bottom-right-radius: 10px;
}

@media (max-width: @screen-md) {
  .border-radius--top-left,
  .border-radius--top-right,
  .border-radius--bottom-left,
  .border-radius--bottom-right {
    border-radius: 0;
  }

  .border-radius--first {
    border-radius: 10px 10px 0 0 ;
  }

  .border-radius--last {
    border-radius: 0 0 10px 10px;
  }
}
