* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: @shade-6;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;

  &.big-title {
    font-size: 24px;
    margin-bottom: 12px;
  }
}

h2 {
  color: @shade-6;
  font-size: 16px;
  line-height: 22px;
}

h1, h2 {
  &.alt {
    color: @mid-blue;
  }
}

p {
  color: @copy;
  font-size: 16px;
  line-height: 22px;
}

.text--secondary {
  color: @mid-blue;
}

.highlight {
  color: @shade-5;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}
