.boclips-footer {
  margin-top: 12px;
  width: 100%;

  p {
    color: @shade-5;
    font-size: 11px;
    line-height: 15px;
  }
  p:first-of-type {
    border-top: 1px solid @shade-2;
    padding-top: 12px;
    margin-bottom: 2px;
  }
}
