.ant-input-search {
  .ant-input {
    background-image: '~/';
    @media (max-width: @screen-md) {
      border-radius: 8px !important;
    }
  }

  .ant-input-group-addon {
    @media (max-width: @screen-md) {
      display: none;
    }
  }
}
