.search-results-container {
  padding-bottom: 24px;
  padding-top: 42px;
  @media (max-width: @screen-md) {
    padding-top: 20px;
    margin-top: 28px;
  }
}

.ant-skeleton-paragraph {
  padding: 0px;
}

.zero-results {
  padding: 62px 55px 0px;

  @media (max-width: @screen-md) {
    padding: 40px 0px 0px;
  }

  img {
    padding-top: 12px;
    margin-bottom: 20px;
  }

  .alert-message-invalid {
    color: #d70000;
    font-size: 13px;
    line-height: 24px;
  }

  .description {
    margin: 0px;
    padding-bottom: 24px;
  }

  .form-title {
    margin: 0px 0px 0px 2px;
    span {
      color: #848fbb;
      font-size: 14px;
      line-height: 24px;
      padding-left: 8px;
    }
  }

  em {
    font-style: normal;
    color: #0051bc;
  }

  .ant-btn {
    width: 150px;
  }

  textarea {
    resize: none;
  }

  .form-submitted {
    width: 416px;
    margin-top: 110px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.results-pagination {
  margin: 50px 0 0;
  text-align: center;
}

.ant-pagination-item,
.ant-pagination-next .ant-pagination-item-link,
.ant-pagination-prev .ant-pagination-item-link {
  border: 2px solid #848fbb;
  border-radius: 8px;
  a {
    color: #848fbb;
    font-size: 16px;
    font-weight: bold;
  }

  &:hover {
    border-color: #0051bc;
    color: #0051bc;
    a {
      color: #0051bc;
    }
  }
}

.anticon {
  vertical-align: 0px;
  &:hover {
    color: #0051bc;
  }
}

.ant-pagination-item-active,
.ant-pagination-item-active:hover {
  border-color: #4189ff;
  a {
    color: #4189ff;
  }
}

.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link {
  border-color: #d9d9d9;
  color: #d9d9d9;
  a {
    color: #d9d9d9;
  }
}

.results-count {
  & .count:after {
    content: ' ';
  }
}
