.video-details-page {

  margin-top: 46px;
  .video-content {
    .boclips-player{
      width: 100%;
    }

    .video-details {
      @details-margin: 24px;
      width: 100%;
      margin: 24px;

      @media (max-width: @screen-md) {
        width: 100%;
        margin-left: 0px;
        padding: 12px;
        padding-left: 0px;
      }

      .video-header {
        padding: 0px;
        @media (max-width: @screen-md) {
          order: 1;
        }
      }

      .description {
        @media (max-width: @screen-md) {
          order: 3;
        }
      }

      .subjects-container {
        @media (max-width: @screen-md) {
          order: 2;
        }

        margin-bottom: 1em;
        margin-top: 0.5em;
      }
    }

    .plyr__video-wrapper {
      //max-height: @video-height;
      .plyr__poster {
        background-size: cover;
      }
    }
  }
}
