.video-content {
  @video-width: 488px;
  @video-height: 356px;

  display: flex;
  justify-content: left;
  height: 100%;
  animation: fade-in 0.4s ease;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .video-preview-thumbnail {
    .boclips-player--preview-container {
      border-radius: 4px;
    }
  }

  .boclips-player {
    width: 100%;

    @media (min-width: 768px) {
      width: @video-width;
      height: @video-height;
    }

    video {
      width: 100%;
      height: 100%;
      background-color: black;
      border-radius: 4px;
      @media (max-width: 768px) {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }

    .boclips-player--preview-container {
      @media (max-width: 768px) {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }
  }

  .video-content--video-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 8px 0px 0px 24px;

    @media (max-width: 768px) {
      margin-left: 0px;
      padding: 12px;
    }

    .no-underline {
      text-decoration: none;
    }

    .video-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        color: #3d4564;
        font-size: 16px;
        font-weight: bold;
        line-height: 25px;
        margin-bottom: 0px;

        &.clamp-2-lines {
          max-height: 50px;
          text-overflow: ellipsis;
          overflow: hidden;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          display: -webkit-box;
        }
      }

      .duration {
        @media (min-width: 768px) {
          text-align: right;
        }

        font-size: 14px;
        color: #848fbb;
        font-weight: bold;
        line-height: 24px;
        margin-bottom: 0px;
      }

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    .subtitle {
      .video-content-provider-link {
        color: #848fbb;
      }

      font-size: 14px;
      color: #848fbb;
      font-weight: bold;
      line-height: 24px;
      margin-bottom: 0px;
      min-width: 100px;
    }

    .description {
      margin-top: 16px;

      @media (min-width: 768px) {
        &.clamp-3-lines {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          max-height: 72px;
        }
      }

      @media (max-width: 768px) {
        &.clamp-3-lines {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          max-height: 120px;
        }
      }
    }

    .copy-link-button {
      align-self: flex-start;
      margin-top: auto;
    }
  }
}
