.video-details-page {
  @video-width: 488px;
  @video-height: 356px;

  margin-top: 46px;
  .video-content {
    .ant-skeleton .ant-skeleton-avatar-lg {
      @media (min-width: 768px) {
        width: @video-width;
        height: @video-height;
      }
    }

    .boclips-player {
      @media (min-width: 768px) {
        width: @video-width;
      }

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .video-details {
      @description-left-margin: 24px;

      @media (min-width: 768px) {
        margin: 8px 0px 0px @description-left-margin;
        width: calc(100% - (@video-width + @description-left-margin));
      }

      @media (max-width: 768px) {
        width: 100%;
        margin-left: 0px;
        padding: 12px;
        padding-left: 0px;
      }

      .video-header {
        padding: 0px;
        @media (max-width: 768px) {
          order: 1;
        }
      }

      .description {
        @media (max-width: 768px) {
          order: 3;
        }
      }

      .subjects-container {
        @media (max-width: 768px) {
          order: 2;
        }

        margin-bottom: 1em;
        margin-top: 0.5em;
      }
    }

    .plyr__video-wrapper {
      max-height: @video-height;
      .plyr__poster {
        background-size: cover;
      }
    }
  }
}
