@import '../../../../resources/styles/_antd-theme.less';
@import '../../../../resources/styles/_colours.less';

.subject-menu {
  &__list {
    display: flex;
    width: 100%;
    padding: 0 45px 30px 55px;

    &-item-group {
      flex: 1;

      a {
        text-decoration: none;
      }
    }

    &-item:hover,
    &-item-heading:hover {
      background-color: inherit;

      a {
        text-decoration: underline;
      }
    }

    &-item-heading {
      list-style: none;
      padding: 12px 12px 5px 3px;
      margin: 0 0 10px -20px;

      a {
        font-size: 20px;
        line-height: 28px;
        color: @dark-blue;
      }
    }

    &-item {
      overflow-wrap: normal;
      white-space: normal;
      list-style-type: disc;
      color: @shade-5;

      a {
        font-size: 16px;
        line-height: 20px;
        color: @cta-blue;
        padding-left: 0px;
      }
    }

    &__dropdown.ant-dropdown {
      min-width: 992px;
      max-width: none;
      position: absolute;
      left: 0px !important;
      top: 84px !important;
    }
  }
}

@media (min-width: @screen-xl) {
  .subject-menu__dropdown {
    width: @screen-xl;
    margin-left: -(@screen-xl / 2);
    left: 50%!important;
  }
}
