@import '~resources/styles/_antd-theme';
@import '~resources/styles/_colours';

.account-settings__ {
  &section-header {
    display: flex;
    justify-content: space-between;
  }

  &item-container {
    margin-top: 24px;
    display: flex;
    width: 100%;
    font-size: 16px;

    @media (max-width: @screen-md) {
      margin-top: 12px;
      flex-direction: column;
    }
  }

  &item-label {
    font-weight: bold;
    flex: 0 0 170px;
    @media (max-width: @screen-md) {
      flex: 0 0 32px;
    }
  }

  &divider {
    border: 1px solid @shade-2;
    margin: 28px 0;
  }

  &form {
    input, textarea {
      font-weight: normal !important;
    }

    .buttons {
      margin-top: 32px;
      display: flex;
      justify-content: flex-end;
    }

    button {
      min-width: 150px;
    }

    button+button{
      margin-left: 24px;
    }
  }
}
