@import '../../../../resources/styles/_antd-theme';
@import '../../../../resources/styles/_colours';

.account-settings__ {
  &section-header {
    display: flex;
    justify-content: space-between;
  }

  &item-container {
    margin-top: 24px;
    display: flex;
    width: 100%;
    font-size: 16px;

    @media (max-width: @screen-md) {
      margin-top: 12px;
      flex-direction: column;
    }
  }

  &item-label {
    font-weight: bold;
    flex: 0 0 170px;
    @media (max-width: @screen-md) {
      flex: 0 0 32px;
    }
  }

  &divider {
    border: 1px solid @shade-2;
    margin: 28px 0;
  }

  &form {
    input,
    textarea {
      font-weight: normal !important;
    }

    .buttons {
      margin-top: 32px;
      display: flex;
      justify-content: flex-end;
    }

    button {
      min-width: 150px;
    }

    button + button {
      margin-left: 24px;
    }
  }

  &sharecode-section {
    background: @shade-3;
    border-radius: 8px;
    margin-bottom: 32px;
    padding: 16px;
    height: 117px;

    @media (min-width: @screen-md) {
      height: 96px;
    }
  }

  &sharecode {
    font-size: 32px;
    line-height: 24px;
    color: @blue-shade-5;
    text-transform: lowercase;
    font-weight: bold;
    float: right;
    letter-spacing: 1px;
  }

  &sharecode-text {
    @media (min-width: @screen-md) {
      margin-left: 26px;
    }
  }

  &sharecode-heading {
    .account-settings__item-label {
      font-size: 16px;
      line-height: 24px;

      @media (min-width: @screen-md) {
        margin-left: 6px;
      }
    }
  }

  &sharecode-icon {
    display: none;

    @media (min-width: @screen-md) {
      display: inline;
    }
  }
}
