@import '../../../../resources/styles/_antd-theme.less';

.video-card-header {
  @badge-container-width: 190px;
  @button-container-width: 30px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;

  &.clickable {
    cursor: pointer;
  }

  .video-buttons {
    display: none;
  }

  .subtitle {
    .rating--rate-stars {
      padding-right: 25px;
    }

    .rating--rate-button {
      color: @blue-shade-4;
      font-weight: bold;
    }
  }

  @media (max-width: @screen-sm-max) {
    padding: 12px;

    .badge-container {
      display: none;
    }

    .subtitle {
      display: none;
    }

    .video-buttons {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
    }
  }

  .title {
      width: calc(100% - @badge-container-width);
    @media (max-width: @screen-sm-max) {
      width: calc(100% - @button-container-width);
    }
    color: @shade-7;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 0px;

    &.clamp-2-lines {
      max-height: 50px;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .badge-container {
    width: @badge-container-width;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    @media (max-width: @screen-sm-max) {
      width: 100%;
      justify-content: space-between;
    }
    .duration {
      padding-left: 12px;
      @media (min-width: @screen-md) {
        text-align: right;
      }

      font-size: 14px;
      color: @shade-6;
      font-weight: bold;
      line-height: 24px;
      margin-bottom: 0px;

      .anticon:hover {
        color: inherit;
      }
      span {
        vertical-align: 2px;
      }
    }
    .video-badge {
      &.adfree {
        height: 14px;
      }

      &.youtube {
        height: 16px;
      }
    }
  }

  .subtitle {
    font-size: 14px;
    color: @shade-6;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 8px;
  }
}
