@import "../../../../resources/styles/_colours.less";

.clear-all-button {
  height: 21px;
  padding-left: 2px;
  color: @cta-blue;
  font-family: Heebo;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  border: none;
  border-radius: 0px !important;
  box-shadow: none !important;
  min-width: 0px;
}
