@import '../../../../resources/styles/_colours';

.end-video-overlay-container {
  background-color: @shade-7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Heebo;
  font-size: 16px;

  .video-overlay-replay-button {
    height: 40px;
    width: 146px;
    border-radius: 8px;
    background-color: @blue-shade-4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    border: none;
  }
  .overlay-buttons-container {
    border-top: 2px solid #848fbb;
    padding-top: 15px;
    padding-bottom: 0px;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span:not(:first-child) {
      .video-overlay-buttons {
        border-left: 2px solid #848fbb;
      }
    }

    span {
      padding: 0 4px 0 4px;
      .video-overlay-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 10px;
        border: none;
        border-radius: 0px;
        background-color: @shade-7;
        cursor: pointer;
        color: white;
        height: 24px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 18px;
        text-align: center;
        outline: none;

        svg {
          height: 28px;
          width: 28px;
          padding: 5px;
        }

        .overlay-button-text {
          padding-left: 4px;
        }
      }
    }
  }
}

#overlay {
  z-index: 3;
}
