@import '../../../resources/styles/_colours';
@import '../../../resources/styles/_antd-theme';

.attachment-details {
  font-family: @font-family;
  background-color: @shade-3;
  padding: 25px;
  border-radius: 8px;
  text-align: left;
  a {
    text-decoration: none;
  }

  &__header {
    color: @blue-shade-5;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 29px;
  }

  &__description {
    color: @neutral-shade-1;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;

    & > ol {
      list-style: none;
      counter-reset: lesson-guide-counter;
      padding: 0;

      & > li {
        counter-increment: lesson-guide-counter;

        &::before {
          content: counter(lesson-guide-counter) ". ";
          font-weight: bold;
        }
      }
    }
  }

  &__link {
    text-align: center;
    border: 0;
    border-top: @shade-2 2px solid;
    border-radius: 0;
    width: 100%;
    padding-top: 16px;
    color: #00217d;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;

    svg {
      margin-right: 3px;
    }
  }
}
