@import '../../../resources/styles/_antd-theme';
@import '../../../resources/styles/_colours';

.boclips-footer {
  margin-top: 60px !important;
  width: 100%;

  p {
    color: @shade-6;
    font-size: 11px;
    line-height: 15px;
  }
  p:first-of-type {
    border-top: 1px solid @shade-2;
    padding-top: 12px;
    margin-bottom: 2px;
  }
  &__links {
    padding-left: 45px;
    a {
      text-decoration: none;
      color: @dark-blue;
    }
  }
}

@media (max-width: @screen-sm-max) {
  .boclips-footer {
    margin-bottom: 55px;

    &__links {
      padding: 0;
      display: block;
    }
  }
}
