@import '../../../resources/styles/_colours';
@import '../../../resources/styles/_antd-theme.less';

@border-radius: 8px;

.generic-modal {
  .ant-modal-content {
    background-color: @shade-1;
    border-radius: @border-radius;

    .ant-modal-header {
      background: @shade-1;
      border-bottom: none;
      padding: 36px 0px 20px 36px;
      border-radius: @border-radius;

      .ant-modal-title {
        color: @mid-blue;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .ant-modal-body {
      padding: 0px 36px 0px 36px;
    }

    .ant-modal-footer {
      border-top: none;
      padding: 40px 36px 36px 0px;
    }

    @media (max-width: @screen-sm) {
      .ant-modal-body, .ant-modal-footer {
        padding-left: 16px;
        padding-right: 16px;
      }
    }  
  }
}
