@import '~resources/styles/_colours';
@import '~resources/styles/_antd-theme.less';

@border-radius: 8px;

.generic-modal {
  .ant-modal-content {
    background-color: @shade-1;
    border-radius: @border-radius;

    display: inline-block;
    width: 100%;

    .ant-modal-header {
      background: @shade-1;
      border-bottom: none;
      margin: 36px 36px 24px 36px;
      padding: 0;
      border-radius: @border-radius;

      .ant-modal-title {
        color: @mid-blue;
        font-size: 24px;
        font-weight: bold;
        line-height: 28px;
      }
    }

    .ant-modal-body {
      padding: 0;
      margin: 0 36px 0 36px;
    }

    .ant-modal-footer {
      border-top: none;
      padding: 0;
      margin: 40px 36px 36px 36px;
    }

    @media (max-width: @screen-sm) {
      .ant-modal-body,
      .ant-modal-footer,
      .ant-modal-header {
        margin-left: 16px;
        margin-right: 16px;
      }

      .ant-modal-footer {
        margin-top: 8px;
        margin-bottom: 24px;
        > div {
          display: flex;

          > button {
            flex-grow: 1;
          }
        }
      }
    }
  }
}
