@border-radius: 8px;

.generic-modal {
  .ant-modal-content {
    background-color: #fafaff;
    border-radius: @border-radius;

    .ant-modal-header {
      background: #fafaff;
      border-bottom: none;
      padding: 36px 0px 20px 36px;
      border-radius: @border-radius;

      .ant-modal-title {
        color: #0051bc;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .ant-modal-body {
      padding: 0px 36px 0px 36px;
    }

    .ant-modal-footer {
      border-top: none;
      padding: 40px 36px 36px 0px;
    }
  }
}
