@import '../../../resources/styles/_antd-theme.less';

.boclips-multi-select-selection {
  width: 100%;

  .ant-select-selector {
    border: 2px solid @shade-2 !important;
    border-radius: 8px !important;
    font-size: 14px !important;
    line-height: 24px !important;
  }

  &:not(.ant-select-single) span.ant-select-selection-item {
    border-radius: 8px;
    font-weight: normal;
    font-size: 14px;
    background-color: @shade-2;
    border: 2px solid @shade-2;
  }

  span.ant-select-selection-item-remove {
    color: @cta-blue;
  }

  .ant-select-selection--multiple .ant-select-selection__rendered li {
    height: 26px;
    line-height: 24px;
    margin-top: 5px;
  }

  &.ant-select-open .ant-select-arrow .anticon-down {
    transform: rotate(180deg);
    transition: transform .3s !important;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }

  &:not(.ant-select-open) .ant-select-arrow .anticon-down {
    transform: rotate(0);
    transition: transform .3s !important;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }
}
