@import '~resources/styles/_antd-theme.less';

.boclips-multi-select-selection {
  & .ant-select-selection {
    border: 2px solid @shade-2;
    border-radius: 8px;
    font-size: 14px;
    line-height: 24px;
  }

  li.ant-select-selection__choice {
    border-radius: 8px;
    font-weight: normal;
    font-size: 14px;
    background-color: @shade-2;
    border: 2px solid @shade-2;
  }

  i.ant-select-remove-icon {
    color: @cta-blue;
  }

  .ant-select-selection--multiple .ant-select-selection__rendered li {
    height: 26px;
    line-height: 24px;
    margin-top: 5px;
  }
}
