.home-search {
  margin: 150px 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  .home-logo {
    animation: slide-in 0.5s 0s both;
    .logo {
      width: 145px;
      margin-bottom: 24px;
    }
  }

  .home-divider {
    animation: slide-in 0.5s 0.2s both;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #E8EFFF;
    margin-bottom: 64px;
  }

  .home-searchbar {
    animation: slide-in 0.5s 0.4s both;
    width: 100%;

    label {
      padding-left: 4px;
      color: #3D4564;
      font-size: 20px;
      font-weight: bold;
      line-height: 52px;
    }
  }
}