.login-form {
  margin-top: 100px;
  padding: 0px 16px;

  .centered {
    display: flex;
    justify-content: center;
  }

  .ant-form-item {
    margin-bottom: 0px;
  }

  .login-logo {
    width: 150px;
    height: 62px;
  }

  .login-details {
    text-align: center;
  }
  hr {
    margin: 16px 0;
    border: none;
    border-bottom: 1px solid #E8EFFF;
  }

  .login-button {
    margin-top: 12px;
  }

  .expand div, .expand span, .expand button {
    width: 100%;
  }
}