.search-results-container {
  padding-bottom: 24px;
}

.ant-skeleton-paragraph {
  padding: 0px;
}

.zero-results {
  padding: 62px 55px 0px;

  .alert-message-invalid {
    color: #D70000;
    font-size: 13px;
    line-height: 24px;
  }

  .description {
    padding-bottom: 4px;
    padding-top: 14px;
    margin:0px;
  }
}