.video-details {

  @video-width: 488px;
  @video-height: 356px;

  margin-top: 46px;

  .ant-skeleton .ant-skeleton-avatar-lg {
    width: @video-width;
    height: @video-height;
  }

  .boclips-player {
    width: @video-width;
    height: @video-height;
  }

}
