@import '../../../../../resources/styles/_colours';
.share-code-dialog {
  &__explainer {
    color: #6471a9;
    margin-bottom: 17px;
    font-weight: bold;
  }
  .ant-modal-content {
    display: flex;
    flex-direction: column;
  }
  .ant-modal-content .ant-modal-body {
    padding-bottom: 35px;
  }
  .ant-modal-content .ant-modal-header {
    margin-bottom: 4px;
  }

  &__button {
    width: 140px;
  }

  &__input {
    width: 104px;
    margin-right: 10px;

    &--invalid {
      border-color: @dark-red;
    }
  }

  &__validation {
    color: @dark-red;
    margin: 0 0 0 5px;
    font-size: 14px;
    line-height: 21px;
  }
}
