@import '../../../../resources/styles/_antd-theme';
@import '../../../../resources/styles/_colours';

.password-form__ {
  &container {
    width: 250px;
  }

  &rules-container {
    margin-top: 8px;
    line-height: 24px;
    color: @copy;
  }


  &show {
    width: 64px;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    display: inline-flex;
    justify-content: start;
    align-items: center;

    &:hover {
      text-decoration: none;
    }

    i {
      font-size: 20px;
    }
  }

  &rules {
    margin-top: 4px;
    display: flex;
    flex-flow: row wrap;
  }

  &rule {
    width: 50%;

    svg {
      margin-right: 4px;
    }
    &__valid {
      color: @shade-4;
    }

    &__error {
    }
  }
}
