@import '../../../resources/styles/_antd-theme.less';

.home-page {
  .search-section {
    background-color: @shade-2;
    padding-left: 50vw;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-right: 50vw;
  }

  .home-search {
    margin: 54px 0;
    @media (max-width: @screen-md) {
      margin: 8px 0 54px;
    }
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: @screen-md) {
      margin: 74px 0;
    }

    .home-logo {
      animation: slide-in 0.5s 0s both;

      .logo {
        width: 145px;
        margin-bottom: 24px;
      }
    }

    .home-searchbar {
      animation: slide-in 0.5s 0.2s both;
      width: 100%;

      label {
        padding-left: 4px;
        color: @shade-6;
        font-size: 20px;
        font-weight: bold;
        line-height: 52px;
      }
    }

    .ant-select-selection {
      background-color: @shade-2;
    }

    .ant-input {
      background-color: @shade-1;
      border-color: @shade-3;
      border-right: 2px @shade-3 solid;
    }
  }

  .disciplines-section {
    animation: slide-in 0.5s 0.4s both;
  }

  .discovery-section {
    margin-top: 66px;
    @media (max-width: @screen-md) {
      margin-top: 40px;
    }

    .collection-list-description {
      font-size: 18px;
      margin-bottom: 20px;
    }

    .home-collections {
      animation: slide-in 0.5s 0.8s both;
    }

    .more-collections {
      animation: slide-in 0.5s 1s both;
      float: right;

      @media (max-width: @screen-md) {
        width: 100%;

        button {
          width: 100%;
        }
      }
    }
  }

  .refer-a-friend-banner {
    animation: slide-in 0.5s 1.5s both;
    margin-top: 43px;

    &__img {
      width: 100%;
      height: auto;
      cursor: pointer;
    }
  }
}
