@import '../../../../resources/styles/_antd-theme.less';

.share-modal .ant-modal-content .ant-modal-footer {
  margin-top: 24px;

  div {
    display: flex;
    flex-wrap: wrap;
    padding-top: 14px;
    border-top: 2px solid @shade-2;
    justify-content: space-between;

    button {
      .ant-btn--borderless();

      & > * {
        vertical-align: top;
      }

      text-align: left;

      height: auto;
      padding: 10px 0;
      margin: 0 0 -10px 0;

      width: auto;

      flex-grow: 0;

      i.anticon {
        font-size: 24px;
        height: 24px;
      }

      span {
        white-space: normal;
        text-align: left;
      }
    }
  }
}
