@import '../../../../resources/styles/_colours.less';

.share-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    .ant-row.ant-form-item {
      display: flex;
      flex-direction: row;
      .ant-picker {
        width: 70px;
        input {
          padding-left: 4px;
        }
        .ant-picker-suffix {
          display: none;
        }
      }
    }
  }

  .ant-form-item-label label {
    color: @shade-7;
    font-size: 18px;
    line-height: 20px;
  }

  .hidden-label .ant-form-item-label {
    display: none;
  }

  .ant-form-item {
    .ant-form-item-label,
    .ant-form-item-control-wrapper {
      vertical-align: bottom;
      width: auto;
    }

    &,
    .ant-form-item-label {
      margin-right: 12px;
    }
  }

  .ant-time-picker {
    width: 70px;

    input {
      text-align: center;
    }

    .anticon {
      display: none;
    }
  }

  section .ant-form-item:last-of-type {
    margin-right: 0;
  }
}
