.collection-card {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #E8EFFF;

  .collectio-title {
    margin-bottom: 0px;
  }

  .view-collection {
    font-weight: bold;
    float: right;
  }
}