@import '../../../resources/styles/_colours.less';

.collection-subtitle {
  display: inline-block;
  padding-bottom: 10px;
  box-sizing: content-box;

  &__lesson-plan-tag {
    color: @accent;

    .no-lesson-plan & {
      display: none;
    }
    svg {
      margin-right: 2px;
      height: 20px;
      width: 20px;
    }
  }

  &:only-child {
    padding: 8px 0px 8px;
  }

  .tiny & {
    padding-top: 12px;
    height: 20px;
    padding-bottom: 0;
  }
}
