.collection-title__ {
  &container {
    display: flex;
    justify-content: flex-start;
  }

  &edit {
    color: #c3d3f5;
    font-size: 26px;
    padding-left: 12px;
  }

  &input-container {
    display: flex;
    justify-content: flex-start;

    .ant-btn {
      margin-left: 8px;
      min-width: 80px;

      &.empty {
        border: 0;
        font-weight: normal;
      }
    }
  }

  &input {
    font-weight: bold;
  }
}
