@import '../../../resources/styles/_colours.less';

.collection-subtitle {
  display: inline-block;
  padding-bottom: 10px;

  &__lesson-plan-tag {
    color: @mid-blue;

    .no-lesson-plan & {
      display: none;
    }
  }

  &:only-child {
    padding: 8px 0px 8px;
  }

  .tiny & {
    padding-top: 12px;
  }
}
