@import '../../../resources/styles/_colours.less';

.collection-subtitle {
  display: inline-block;
  padding-bottom: 10px;

  strong {
    color: @mid-blue;
  }

  &:only-child {
    padding: 8px 0px 8px;
  }

  .tiny & {
    padding-top: 12px;
  }
}
