@import '../../../../../resources/styles/_antd-theme.less';
.share-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2px;

  &__icon {
    height: 20px;
    width: 18px;
    line-height: 20px !important;
  }
}

.share-menu {
  width: 243px;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
  }

  &__header-label {
    height: 24px;
    width: 45px;
    color: #434656;
    font-family: Heebo;
    font-size: 16px;
    line-height: 24px;
  }

  &__header-close-button {
    width: 13px;
    height: 13px;
  }
}

// .share-menu {
//   border-right: 0px !important;
//   padding-left: 0px !important;
// }

.share-menu__header:hover {
  cursor: default;
  background-color: white;
}

.share-menu__header-close-button:hover {
  cursor: pointer;
}
