@import '~resources/styles/_antd-theme.less';

.share-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2px;

  &__icon {
    height: 20px;
    width: 18px;
    line-height: 20px !important;
  }
}
