@import '../../../../../resources/styles/_colours.less';
@import '../../../../../resources/styles/_antd-theme';

.video-buttons__ {
  &container {
    @media (min-width: @screen-md) {
      border-top: 2px solid @shade-2;
    }
    margin-bottom: -8px;
    align-items: baseline;

    @media (max-width: @screen-lg) {
      justify-content: space-between;
    }
    @media (max-width: @screen-md) {
      justify-content: flex-end;
    }
  }
}

.video-menu-button {
  display: inline-flex;
  border: none;
  border-radius: 0px !important;
  box-shadow: none !important;
  min-width: 0px;

  height: 24px;
  margin-top: 8px;
  margin-bottom: 0px;

  @media (min-width: @screen-lg) {
    padding: 0px 24px;
  }

  @media (max-width: @screen-lg) {
    padding: 0px 12px;
  }

  & .anticon + span {
    margin-left: 8px;
  }

  .anticon {
    font-size: 24px;
  }

  &--bordered {
    border-right: 2px solid @shade-2;

    &:active {
      box-shadow: none !important;
      border-color: @shade-2;
    }

    &:hover {
      border-color: @shade-2;
    }

    &:last-child:not(:first-child) {
      border-right: 0px;
    }
  }
}
